{#
/**
 * @file
 * Main page layout for ProGaming.
 */
#}

<div>
    {{ page.navigation }}
    {{ page.branding }}
    {{ page.highlighted }}
    {{ page.content }}
    {{ page.sidebar }}
    {{ page.footer_primary }}
    {{ page.footer_secondary }}
</div>

